Repository live-image-tracking-tools/traccuracy, pull requests merged in 2025-01, with the labels that each got.

#176 Add tests for CTC node and edge track errors
  docs/source/track_errors/ctc.rst
  examples/test-cases.ipynb
  src/traccuracy/_tracking_graph.py
  src/traccuracy/metrics/_ctc.py
  src/traccuracy/track_errors/_ctc.py
  tests/examples/graphs.py
  tests/test_tracking_graph.py
  tests/track_errors/test_ctc_errors.py
Labels: tests

#180 Update the test case notebook with py:percent files
  developer_notes.md
  docs/source/conf.py
  docs/source/examples/test-cases.nblink
  docs/source/index.rst
  docs/source/test_cases/divisions.pct.py
  docs/source/test_cases/graphs.pct.py
  docs/source/test_cases/index.rst
  docs/source/test_cases/segmentation.pct.py
  docs/source/track_errors/ctc.rst
  examples/test-cases.ipynb
  pyproject.toml
Labels: tests

#189 Add example graph plots for division error documentation
  docs/source/track_errors/divisions.rst
Labels: documentation

#192 Update node and edge annotations to be sparse
  src/traccuracy/_tracking_graph.py
  src/traccuracy/track_errors/_ctc.py
  src/traccuracy/track_errors/divisions.py
  tests/test_tracking_graph.py
  tests/track_errors/test_ctc_errors.py
  tests/track_errors/test_divisions.py
Labels: topic: errors

#196 Update example notebooks and run in CI
  .github/workflows/ci.yml
  examples/ctc.ipynb
Labels: documentation, tests, fix

#199 Pre-allocate numpy array and populate during reading for ctc loader
  src/traccuracy/loaders/_ctc.py
Labels: performance, topic: loader, fix

#200 Bugfix: fix testing issue with GT nodes matched to NS nodes
  tests/track_errors/test_ctc_errors.py
Labels: tests, fix, topic: errors

#193 Incorrect daughter in division is labeled as wrong child
  docs/source/test_cases/divisions.pct.py
  docs/source/track_errors/divisions.rst
  src/traccuracy/_tracking_graph.py
  src/traccuracy/metrics/_divisions.py
  src/traccuracy/track_errors/divisions.py
  tests/examples/graphs.py
  tests/metrics/test_divisions.py
  tests/track_errors/test_divisions.py
Labels: fix, topic: errors

#197 Remove unnecessary casting in get_labels_with_overlap
  src/traccuracy/_tracking_graph.py
  src/traccuracy/loaders/_ctc.py
  src/traccuracy/matchers/_compute_overlap.py
  src/traccuracy/matchers/_ctc.py
  src/traccuracy/matchers/_iou.py
  tests/loaders/test_ctc.py
  tests/matchers/test_compute_overlap.py
  tests/matchers/test_ctc.py
  tests/matchers/test_iou.py
  tests/test_tracking_graph.py
Labels: topic: matcher, fix
