Repository live-image-tracking-tools/traccuracy, pull requests merged in 2025-02, with the labels that each got.

#198 Warn and return nans for metrics if there are no divisions in the gt
  src/traccuracy/metrics/_divisions.py
  tests/metrics/test_divisions.py
Labels: topic: metrics, fix

#204 Implement a basic set of node and edge errors
  docs/source/index.rst
  docs/source/metrics/basic.rst
  docs/source/track_errors/basic.pct.py
  docs/source/track_errors/ctc.rst
  docs/source/track_errors/edges.rst
  docs/source/track_errors/nodes.rst
  pyproject.toml
  src/traccuracy/_tracking_graph.py
  src/traccuracy/metrics/__init__.py
  src/traccuracy/metrics/_base.py
  src/traccuracy/metrics/_basic.py
  src/traccuracy/metrics/_divisions.py
  src/traccuracy/track_errors/basic.py
  tests/bench.py
  tests/metrics/test_base.py
  tests/metrics/test_basic.py
  tests/metrics/test_divisions.py
  tests/track_errors/test_basic.py
Labels: documentation, enhancement, topic: metrics, topic: errors

#208 Update run metrics to return results and matched object
  examples/ctc.ipynb
  src/traccuracy/_run_metrics.py
  src/traccuracy/cli.py
  tests/test_run_metrics.py
Labels: enhancement

#205 Add LNK metric
  docs/source/metrics/ctc.rst
  src/traccuracy/metrics/_ctc.py
  tests/metrics/test_ctc_metrics.py
Labels: enhancement, topic: metrics

#217 Add workflow for generating a test case coverage report
  .github/workflows/ci.yml
  pyproject.toml
  scripts/test_case_report.py
Labels: tests, CI
